<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ntou.cs.lab505.oblivion" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activitites.LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitites.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activitites.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".activitites.DatabaseActivity"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name=".activitites.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@android:style/Theme.Holo"
            android:name=".activitites.SettingActivity"
            android:label="@string/title_activity_setting" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".activitites.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".activitites.PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
    </application>

</manifest>
